.contacts__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 620px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.contacts__name {
  color: #d22566;
  margin-right: 16px;
}
